@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
.container {
    background-color: white;
    font: 16px Helvetica, Sans-Serif;
    line-height: 24px;
    width: 874px;
    height: 1240px;
    margin: 40px auto 60px;
    font: 16px Helvetica, Sans-Serif;
    line-height: 24px;
    /*overflow: scroll;*/
}
.container > div {
    padding: 20px;
    margin: 2em;
}

.clear {
    clear: both;
}

.pic {
    float: right;
    margin: 50px 80px 0 0;
    height: 200px;
}
.info{
    height: 10%;
    width: 50%;
}

h1 {
    width: 70%;
    margin: 0 0 16px 0;
    padding: 0 0 16px 0;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #A32234;
}

h2 {
    font-size: 20px;
    margin: 0 0 6px 0;
    position: relative;
}


h2 span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-style: italic;
    font-family: Georgia, Serif;
    font-size: 16px;
    color: #999;
    font-weight: normal;
}

p {
    margin: 0 0 16px 0;
}

a {
    color: #999;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

a:hover {
    border-bottom-style: solid;
    color: black;
}


.objective {
    width: 50%;
    float: left;
}

.objective p {
    font-family: Georgia, Serif;
    font-style: italic;
    color: #666;
    font-size: 25px;
    color: #A32234;
}

.logo {
    height: 20px;
    float: left;
    margin: 0px 5px;
}

dt {
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
    padding: 0 26px 0 0px;
    width: 150px;
    float: left;
    border-right: 1px solid #A32234;
    }


dd {
    width: 600px;
    float: right;
}

dd.clear {
    float: none;
    margin: 0;
    height: 20px;
}
/*.slm{
    list-style: none;
}
.slm:before {
    background-color: #A32234;
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url("club.png");
}*/
/*ul {
    margin: 0 0 32px 17px;
    justify-content: space-around;
    padding: 1rem;
}*/


ul.list {
    height: 100%; /*fixed height*/
    width: 100%;
    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: 1 /*3 in those rules is just placeholder -- can be anything*/
}
li.items {
    list-style: none;
    display: inline-block;
    padding: 36px 0 36px 22px;
   /* background-image: url("club.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;*/
    /*margin-bottom: -35px;*/
    white-space: nowrap;
}

.summary{

}

.summary_items{
    padding: 5px 0px;
    list-style: none;
}


.experiences_container {
    height: 300px;
}
.skills_container {
    height: 150px;
}
.categories_container {
    height: 130px;
}
.specialities_container {
    height: 80px;
}
.langues_container {
    height: 90px;
}