.workspace {
    flex-grow: 1;
    background-color: white;
    color: white;
    padding: 2em;
    position: relative;

}

.workspace.noElement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace.noElement > h1 {
    font-size: 2em;
}