@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
.sidebar {
    height: 100vh;
    width: 30em;
    background-color: #A32234;
    transition: width .5s ease;
    overflow-y: scroll;
    flex-shrink: 0;
    z-index: 999;
}
.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar.close {
    width: 9em;
}
.sidebar header {
    display: flex;
    align-items: center;
    padding: 2em;
    justify-content: flex-end;
}



.sidebar header h1 {
    font-weight: bolder;
    font-size: 2.7rem;
    white-space: nowrap;
    margin-right: auto;
    color: white;
    border-bottom: 1px solid white;
}

.sidebar header h1.open {
    width: 100%;
}



.hamburger {
    background-color: white;
    color: #A32234;
    font-size: 2em;
    height: 2.4em;
    width: 2.4em;
    border-radius: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s;
    flex-shrink: 0;
}
.hamburger:hover {
    box-shadow: 0 0 .5em black;
}