.templatePicker {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}
.templatePicker h1 {
    font-size: 3rem;
    text-align: center;
    margin: 5rem;
    color: #A32234;
}

.templatePicker .list {
    background-color: #A32234;
    border-radius: 2rem;
    width: 90%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
}